.task-page-container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  .header {
    max-width: 700px;
    width: 100%;
    background-color: #1976d2;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .diploma {
    margin: 0;
  }
  
  .inputs {
    max-width: 600px;
    width: 100%;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .button, .submit-button {
      width: 100%;
      background-color: #1976d2;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 16px;
      margin-bottom: 10px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #277aae;
      }
    }
  
    .submit-button {
      margin-left: 0;
      height: 40px;
      width: 100%;
      font-size: 20px;
    }
  }
  
  .filebutton {
    display: block;
    width: 100%;
    max-width: 120px;
    height: 30px;
    background-color: #1976d2;
    border: #1976d2;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
  }
}

